<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block css %}{% endblock css %}
    <title>{% block title %}{% endblock title %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    
    <link rel="stylesheet" href="/static/index.css">
    
   
    
</head>
<body>
    
    <nav class="navbar navbar-expand-lg bg-color py-4 pt-lg-5" >
      <div class="container">
        <a class="navbar-brand text-white fw-bold" id="amigo" href="#">Amigoo</a>
        <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                class="navbar-toggler"
                data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse" type="button" style="border:none;border-color:transparent;transform:scale(1.5);">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 ">
                
                <li class="nav-item">
                  <a class="nav-link text-white active" aria-current="page" href="{% if user_profile.usermode != 1 %} / {% endif %} {% if user_profile.usermode == 1 %} /provider {% endif %}">Home</a>
                </li>
                {% comment %} <li class="nav-item">
                  <a class="nav-link text-white" href="#">about</a>
                </li> {% endcomment %}
                {% if user_profile.usermode != 1 %}
                <li class="nav-item">
                  <a class="nav-link text-white" href="search" data-bs-toggle="modal" data-bs-target="#exampleModal">search</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white active" aria-current="page" href="/services">services</a>
                </li>
                {% endif %}
                {% if user.is_authenticated %}

                <li class="nav-item">
                    <a class="nav-link text-white" href="/logout">logout</a>
                </li>
               {% endif %}
               
               {% if user_profile.usermode == 1 %}
                <li class="nav-item dropdown">
                  
                  <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      
                      
                       
                    Profile
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item " href="profile/{{user.username}}">Profile menu</a></li>
                    <li><a class="dropdown-item" href="#">help</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white" href="#">FaQ</a>
                </li>
                {% endif %}
                
  
            </ul>
  
        </div>
    </div>
    </nav>
    

    <!-- Button trigger modal -->

  






    <div class="block-body">
        {% block body %}
        
        {% endblock body %}
    </div>
    

    




    <!--footer section-->

<footer class="main-footer-section">
  <div class="contact-details">
      <div class="container px-5">
          <div class="row g-0">
              <div class="col-lg-4 ">
                  <div class="contact-div p-5 d-flex flex-column justify-content-center align-items-center">
                      <div class="icon-div d-flex justify-content-center align-items-center rounded-circle mb-3">
                          <img src="/static/email.png" alt="GIF Image" class="img-fluid">
                      </div>
                      <p class="text-white">amigoo@gmail.com</p>
                  </div>
              </div>

              <div class="col-lg-4 ">
                  <div class="contact-div p-5 d-flex flex-column justify-content-center align-items-center">
                      <div class="icon-div d-flex justify-content-center align-items-center rounded-circle mb-3">
                          <!--                            <i class="fa-solid fa-phone"></i>-->
                          <img src="/static/phone.png" alt="GIF Image" class="img-fluid">
                      </div>
                      <p class="text-white">(+91) 1234 5678</p>
                  </div>
              </div>

              <div class="col-lg-4 ">
                  <div class="contact-div p-5 d-flex flex-column justify-content-center align-items-center">
                      <div class="icon-div d-flex justify-content-center align-items-center rounded-circle mb-3">
                          <img src="/static/map.gif" alt="GIF Image" class="img-fluid">
                      </div>
                      <p class="text-white">Pune</p>
                  </div>
              </div>
          </div>
      </div>

      <div class="footer-section py-5 text-white">
          <div class="container">
              <div class="row">
                  <div class="col-lg-2 col-md-6 col-6">
                      <div class="footer-links">
                          <h4 class="text-white mt-5 mb-3">Serving In</h4>
                          <ul class="text-light-grey list-unstyled d-flex flex-column gap-2">
                              <li>Pune</li>
                              <li>Mumbai</li>
                              <li>Sangli</li>
                              <li>Satara</li>

                          </ul>
                      </div>
                  </div>

                  <div class="col-lg-2 col-md-6 col-6">
                      <div class="footer-links">
                          <h4 class="text-white mt-5 mb-3">About</h4>
                          <ul class="text-light-grey list-unstyled d-flex flex-column gap-2">
                              <li>Our Goal</li>
                              <li>Amigoo</li>
                              <li>Team</li>
                              <li>Future Plans</li>

                          </ul>
                      </div>
                  </div>

                  {% comment %} <div class="col-lg-2 col-md-6 col-6">
                      <div class="footer-links">
                          <h4 class="text-white mt-5 mb-3">About</h4>
                          <ul class="text-light-grey list-unstyled d-flex flex-column gap-2">
                              <li>Our Story</li>
                              <li>Our Story</li>
                              <li>Our Story</li>
                              <li>Our Story</li>

                          </ul>
                      </div>
                  </div> {% endcomment %}

                  <div class="col-lg-6 col-md-6 col-12">
                      <div class="footer-links">
                          <h4 class="mt-5 mb-3 text-white">Contact with Email</h4>
                          <div class="input-group mb-3 w-75">
                              <input type="email" class="form-control" placeholder="Enter Your Email"
                                     name="email"
                                     aria-label="Recipient's username" aria-describedby="basic-addon2">
                              <span class="input-group-text btn btn-primary" id="basic-addon2">Contact</span>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>


      <div class="container">
          <hr class="container mx-auto">

          <div class="row">
              <div class="col-lg-8 col-12 ">
                  Copyright ©2023 All rights reserved <span class="bg-theme"> Amigoo</span>
              </div>
              <div class="col-md-4 col-12  ">
                  <div class="d-flex justify-content-center justify-content-lg-end gap-5 mt-lg-0 mt-3">
                      <a href="https://www.instagram.com/thapatechnical/" target="_blank">
                          <div class="icon-span d-flex justify-content-center align-items-center rounded-circle mb-3">
                              <i class="fa-brands fa-instagram"></i>
                          </div>
                      </a>
                      <div class="icon-span d-flex justify-content-center align-items-center rounded-circle mb-3">
                          <i class="fa-brands fa-whatsapp"></i>
                      </div>
                      <div class="icon-span d-flex justify-content-center align-items-center rounded-circle mb-3">
<!--                            <i class="fa-brands fa-whatsapp"></i>-->
                          <i class="fa-brands fa-twitter"></i>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</footer>


<script src="/static/provider.js"></script>

{% block js %}{% endblock js %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>